<%= form_for @article do |f| %>
		<%= f.label :title, :class => 'new' %><br />
		<%= f.text_field :title, :class => 'new', :id => 'title'%><br />
		<%= f.label :text, :class => 'new' %><br />
		<%= f.text_area :text, :class => 'new', :id => 'text' %><br />
		<%= f.submit :class => 'new', :id => 'submit' %>
		<% if @article.errors.any? %>
			<div class="new" id="explanation">
				<h2 class="new" id="error_message"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved.</h2>
				<ul class="new" id="error_message">
					<% @article.errors.full_messages.each do |msg| %>
         		<li class="new" id="error_message"><%= msg %></li>
       		<% end %>
				</ul>
			</div>
		<% end %>
<% end %>
