<header>
	ParaSite - My Personal Website
</header>

<div class="index" id="sidebar">
	<%= link_to 'Create a blog', new_article_path, :class => 'index', :id => 'sidebar_anchor' %>
</div>

<%= form_tag(articles_path, :method => "get", id: "search-form", :class => 'index_search') do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Blogs", :class => 'index_search' %>
	<%= submit_tag "Search", :class => 'index_search', :id => 'submit_search' %>
<% end %>

<% if @articles.present? %>
  <%= render @articles %>
<% else %>
  <p class="index_search" id="bad_search">There are no blogs containing the term(s) <%= params[:search] %>.</p>
  <%= link_to 'Back', articles_path, :class => "index_search", :id => "back_portal" %>
<% end %>

<div id="clear_float"></div>
<% @articles.each do |article| %>
	<div class="index" id="article_box">
		<h1 class="index" id="header"><%= article.title %></h1>
		<p class="index" id="paragraph"><%= article.text %></p>
		<span class="index" id="time_posted">Created at: <%= article.created_at %></span>
		<% if article.created_at != article.updated_at%>
			<span class="index" id="time_posted">Updated at: <%= article.updated_at %></span>
		<% end %>
		<%= link_to 'View', article_path(article), :class => 'index', :id => 'view_anchor'%>
		<%= link_to 'Edit', edit_article_path(article), :class => 'index', :id => 'view_anchor'%>
		<%= link_to 'Delete', article_path(article), method: :delete, data:{confirm: 'Are you sure?'}, :class => 'index', :id => 'view_anchor' %>
		<div id="clear_float"></div>
	</div>
<% end %>
