<header>
	ParaSite - My Personal Website
</header>


<div class="show" id="article_container">
	<h1 class="show" id="title"><%= @article.title %></h1>
	<hr />
	<p class="show" id="text"><%= @article.text %></p>
	<span class="show" id="footnote">Created at: <%= @article.created_at %></span>
	<% if @article.created_at != @article.updated_at%>
		<span class="show" id="footnote">Updated at: <%= @article.updated_at %></span>
	<% end %>
	<%= link_to 'Back', articles_path, :class => "show", :id => "back_portal" %>
</div>

