<header>
	ParaSite - My Personal Website
</header>
<div class="index" id="welcome_container">
	<h1 class="index">Welcome to ParaSite!</h1>
	<p class="index">This website was created for the express purpose of training in programming in Ruby on Rails,
	 specifically so that I can fulfill my duties as an intern and contribute to the project MIST, 
	 the data migration system project I was assigned to. Please do not judge the coding of this site, 
	 for I am taking a crash course to this programming language. After all, I have begun learning it a 
	 few days ago.</p>
	<%= link_to 'My Blog', {controller: 'articles'}, :class => 'index', :id => 'blog_portal' %>
</div>
