// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//======[Section Template]=======================================================//
//===============================================================================//

//======[GENERAL]================================================================//
	*{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	
	header{
		background: rgb(200,75,75);
		color: white;
		font-size: 40px;
		line-height: 50px;
		padding: 10px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#clear_float{
		clear: both;
	}
	
	a{
		text-decoration: none;
		background: rgb(225,50,50);
		color: white;
		padding: 10px;
	}
	
	a:hover{
		background: rgb(255,50,50);
		cursor: pointer;
	}
	
	a:active{
		background: rgb(200,75,75);
		cursor: pointer;
	}
	
	#error_message{
		margin: 0;
		font-size: 100%;
		font-family: monospace;
		color:red;
	}
//===============================================================================//

//======[INDEX_MAIN]=============================================================//

	.index{
		margin: 10px;
	}

//===============================================================================//

//======[INDEX_SEARCH]===========================================================//

	.index_search{
		margin: 0;
		padding: 0;
		border:none;
	}

	form.index_search{
		width: 500px;
		height: 50px;
		margin: 0 auto;
		border: 1px solid rgb(225,50,50);
		padding: 10px;
	}
	
	.index_search#search{
		width: 80%;
		height: 100%;
		float: left;
		line-height: 20px;
		font-size: 20px;
		outline: none;
	}
	
	.index_search#submit_search{
		width: 20%;
		height: 100%;
		float: right;
		line-height: 20px;
		font-size: 20px;
		color: white;
		background: rgb(225,50,50);
	}
	
	.index_search#submit_search:hover{
		background: rgb(255,25,25);
	}
	
	.index_search#submit_search:active{
		background: rgb(200,75,75);
	}
	
	.index_search#bad_search{
		text-align: center;
		margin: 10px;
	}
	
	.index_search#back_portal{
		display: block;
		width: 500px;
		text-align: center;
		line-height: 30px;
		margin: auto;
	}
	
	
	
//===============================================================================//

//======[INDEX_CONTAINER]========================================================//

	.index#article_box{
		width: 500px;
		padding: 10px;
		margin: 10px auto;
		box-shadow: 0 0 10px #888888;
		background: white;
	}
	
	.index#paragraph{
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	}
	
	.index#time_posted{
		font-family: monospace;
		display:block;
		margin: 0;
		margin-left: 10px;
		color: rgb(150,150,150);
	}
	
	.index#view_anchor{
		float: right;
		display: block;
		width: 50px;
		height: 15px;
		text-align: center;
	}

//===============================================================================//

//======[INDEX_SIDEBAR]==========================================================//

	.index#sidebar{
		margin: 0;
		float: left;
		width: 200px;
		box-shadow: 0 0 10px black;
	}
	
	.index#sidebar_anchor{
		margin: 0;
		display: block;
	}

//===============================================================================//

//======[NEW_MAIN]===============================================================//

	.new{
		margin: 10px;
	}

//===============================================================================//

//======[NEW_CONTAINER]==========================================================//
	
	.new#form_container{
		width: 500px;
		margin: auto;
	}

//===============================================================================//

//======[NEW_FORM]===============================================================//
	
	.new#form_title{
		padding: 5px;	
	}
	
	.new#title{
		width: 400px;
		font-size: 25px;
		padding: 5px;
	}
	
	.new#text{
		width: 400px;
		height: 250px;
		padding: 5px;
	}
	
	.new#submit{
		width: 400px;
		font-size: 15px;
		padding: 10px;
		background: rgb(225,50,50);
		color: white;
		border: none;
	}
	
	.new#submit:hover{
		background: rgb(255,50,50);
		cursor: pointer;
	}
	
	.new#submit:active{
		background: rgb(200,75,75);
		cursor: pointer;
	}


//===============================================================================//

//======[SHOW_MAIN]==============================================================//

	.show{
		margin: 10px;
	}

//===============================================================================//

//======[SHOW_CONTAINER]=========================================================//


	.show#article_container{
		width: 500px;
		margin: auto;
		margin-top: 20px;
	}

//===============================================================================//

//======[SHOW_ARTICLE]===========================================================//

	.show#text{
		font-size: 20px;
		line-height: 1.5;
	}
	
	.show#footnote{
		display: block;
		margin: 0;
		margin-left: 10px;
		font-family: monospace;
		color: rgb(100,100,100);
	}
	
	.show#back_portal{
		display: block;
	}

//===============================================================================//

