// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//======[Section Template]=======================================================//
//===============================================================================//

//======[GENERAL]================================================================//
	*{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	
	header{
		background: rgb(200,75,75);
		color: white;
		font-size: 40px;
		line-height: 50px;
		padding: 10px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	a{
		text-decoration: none;
		background: rgb(225,50,50);
		color: white;
		padding: 10px;
	}
	
	a:hover{
		background: rgb(255,50,50);
		cursor: pointer;
	}
	
	a:active{
		background: rgb(200,75,75);
		cursor: pointer;
	}
	
//===============================================================================//

//======[CONTAINER]==============================================================//

	.index#welcome_container{
		width: 500px;
		margin: auto;
		margin-top: 10px;
	}

//===============================================================================//

//======[MAIN]===================================================================//

	.index {
		margin: 10px;
	}
	
	.index#blog_portal{
		display: block;
		text-decoration: none;
		background: rgb(225,50,50);
		color: white;
		padding: 10px;
	}
	
	.index#blog_portal:hover{
		background: rgb(255,25,25);
		cursor: pointer;
	}
	
	.index#blog_portal:active{
		background: rgb(200,75,75);
		cursor: pointer;
	}

//===============================================================================//

